{% extends 'workouts/base.html' %} {% block content %}
<div class="row">
    <div class="col-sm-3">
        <form method="GET">
            <label for="minMaxAge">Enter Age Range</label>
            <div class="row">
                <div class="col">
                    <input class="form-control" type="number" name="min_age" id="min_age" value="{{form_dict.min_age}}" placeholder="Min Age"
                    />
                </div>
                <div class="col">
                    <input class="form-control" type="number" name="max_age" id="max_age" value="{{form_dict.max_age}}" placeholder="Max Age"
                    />
                </div>
            </div>
            <label for="min_starting_weight">Enter Starting Weight Range</label>
            <div class="row">
                <div class="col">
                    <input class="form-control" type="number" name="min_starting_weight" id="min_starting_weight" value="{{form_dict.min_starting_weight}}"
                        placeholder="Min Weight" />
                </div>
                <div class="col">
                    <input class="form-control" type="number" name="max_starting_weight" id="max_starting_weight" value="{{form_dict.max_starting_weight}}"
                        placeholder="Max Weight" />
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="form-check form-check-inline" style="padding-top: 10px; padding-bottom: 10px;">
                        <input class="form-check-input" type="radio" name="sexRadio" id="sexRadio1" value="None" {% if form_dict.sex == "None" or not form_dict.sex %} checked {% endif %}>
                        <label class="form-check-label" for="sexRadio1">
                            Both
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexRadio" id="sexRadio2" value="Female" {% if form_dict.sex == "Female" %} checked {% endif %}>
                        <label class="form-check-label" for="sexRadio2">
                            Female
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexRadio" id="sexRadio3" value="Male" {% if form_dict.sex == "Male" %} checked {% endif %}>
                        <label class="form-check-label" for="sexRadio3">
                            Male
                        </label>
                    </div>
                </div>
            </div>
            <input class="float-right btn btn-primary" type="submit" value="Submit" />
        </form>
    </div>
    <div class="col-sm-6">
        {% for result in results %}
        <div class="row">
            <div class="col">
                <div class="media">
                    <!-- <img class="mr-3" src="..." alt="Generic placeholder image"> -->
                    <div class="media-body">
                        <h5 class="mt-0">{{result}} - {{result.user_sex}}/{{result.user_age}}/{{result.user_height}} cm <br>
                        <small class="text-muted">{{result.period}} months</small></h5>
                        <a href="{{result.reddit_link}}">Link to Reddit Post</a>
                        <br>
                        {% with tldr=result.tldr|safe %}
                        {{tldr|truncatechars_html:"200"}}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        <hr> {% endfor %}
    </div>
    <div class="col-sm-3">
        <h2>What is this?</h2>
        <p>
            This is a compilation of success stories from reddit/r/fitness. Sometimes it can be hard to know what is true in fitness
            and what isn't. For some, a good solution is find out what worked for others and augment it to their needs.
        </p>
    </div>
</div>


{% endblock %}